@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&family=Roboto:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 100px;
}

header {
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-family: "Roboto", sans-serif;
}

.icons {
  display: flex;
  text-align: right;
  position: relative;
  left: 40%;
  justify-content: space-between;
  flex-basis: 5rem;
  align-items: center;
}

.fa-solid {
  cursor: pointer;
  font-size: 1.2rem;
}

.fa-circle-plus {
  color: #0f0;
}

.fa-trash {
  color: #f00;
}

.fa-cart-shopping {
  color: #00f;
}

form button {
  background-color: #fff;
  border: none;
}

/* copy code */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  text-align: center;
}
.close-button {
  float: right;
  width: 1rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
}
.close-button:hover {
  background-color: #adadad;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.drop-down {
  position: relative;
}

.dropdown-content {
  position: absolute;
  color: #000;
  right: 10%;
  top: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* overflow: auto; */
  width: 800%;
  text-align: left;
  display: none;
}

.dropdown-content .addItems {
  padding: 10px;
}

.dropdown-content .addItems:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.dropdown-content-show {
  display: block;
}

.modal-content form .form-controls {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.modal-content form label {
  display: block;
}

.modal-content form .checkbox input {
  display: inline-block;
}

/* End of copy code */

.modal-content form button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.products-list {
  background-color: #f7ede2;
  box-shadow: 10px 10px #fffcf2;
  list-style-type: none;
  padding: 20px 40px;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.products-list ul {
  display: grid;
  grid-template: repeat(2, 4fr) / repeat(4, 4fr);
  text-align: center;
  vertical-align: auto;
}

.products-list li {
  list-style-type: none;
  display: inline-block;
}
