@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&family=Roboto:ital,wght@0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 100px;
}

header {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-family: 'Roboto', sans-serif;
}


.icons {
    display: flex;
    text-align: right;
    position: relative;
    left: 40%;
    justify-content: space-between;
    flex-basis: 3rem;
    align-items: center;
}

.fa-solid {
    cursor: pointer;
    font-size: 1.2rem;
}

.fa-circle-plus {
    color: #0f0;
}

.fa-trash {
    color: #f00;
}

form button {
    background-color: #fff;
    border: none;
}

/* copy code */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eeeeee;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  .close-button {
    float: right;
    width: 1rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #eeeeee;
  }
  .close-button:hover {
    background-color: #adadad;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .modal-content form .form-controls {
    padding: 10px;
  }
  .modal-content form label {
    display: block;
  }

  /* End of copy code */

  .modal-content form button {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
  }

  .products-list {
    
  }